
.imgLink {
  cursor:pointer;
}

div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 690px; 
	height: 400px;
	overflow: hidden;
	border:1px solid #ddd;
/*  border-top:1px solid #555;*/
}

div.scroller div.section ul{
  text-align:left;
}
div.scroller div.section {
	/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
	width:670px;
	height:370px;
	overflow:hidden;
	float:left;
	padding:10px;		
}
div.scroller div.content {
	width: 20000px;
}
			


/* SERVIZI */
#services_container .controls a.active{
  text-decoration: underline;
  background: url('../images/film.png') no-repeat bottom right;
}

#services_container .controls a:hover {
  text-decoration: underline;
  background-color: transparent;
}

#services_container .content{
  font-size:160%;
  line-height:130%;
}
#services_container .content li{
  margin-bottom:1em;
}
#services_container .content h2{
  line-height:140%;
  margin-top:0;
}
#services_container p{
/*  text-align:left;*/
}
#services_container .controls a{
  display:block;
  float:left;
  width:100px;
  height:50px;
  text-align:left;
  padding:0;
  margin:0;
  padding-right: 10px;
  margin-right: 5px;
  color: black; 
  text-decoration: none;
  vertical-align:middle;
  border:none;
}


/* CONTROLS */
#content .glider .controls {
  width:690px;
  margin:0 auto;
  padding:0;
}

/* PORTFOLIO */
#portfolio_container, #portfolio_container .controls{
 text-align:center;
}
#portfolio_container a{
/*  display:block;*/
/*  float:left;*/
/*  height:70px;*/
  line-height:190%;
/*  padding:1px;*/
/*  padding-right: 11px;*/
/*  margin:0;*/
/*  margin-right: 5px;*/
/*  color: black; */
/*  text-decoration: none;*/
/*  vertical-align:middle;*/
/*  border:none;*/
  white-space: nowrap;
}
#portfolio_container a:hover{
/*  border-top: 1px solid #c09;*/
/*  padding-top:0;*/
/*  padding:0px;
  padding-right:10px;*/
/*  background:none;*/
/*  color:black;*/
/*  text-decoration: underline;*/
}
#content #portfolio_container.glider .controls{
/*  width:800px;*/
  width:690px;
}

#portfolio_container .section {
  text-align:left;
  height:400px;
  width:690px;
  overflow:auto;
  border:none !important;
}
#portfolio_container .section h2 {
  
}
#portfolio_container .section .portfolio_element {
  border-top:1px solid #777;
}
#portfolio_container .section .portfolio_element h2{
  font-size:110%;
  text-transform: capitalize;
  text-align:left;
  color:#555;
  margin-bottom:0;
}
#portfolio_container .section .portfolio_element small{
  color: #bbb;
}
#portfolio_container .section .portfolio_element p{
/*  color:#333;*/
}

#portfolio_container div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 720px; 
	height:430px;
}
