/* GENERAL */

body {
  border-collapse: collapse;
/*  background-image: url('/images/background.jpg');*/
  background-repeat: repeat-x;
  background-color: black;
  margin:0;
  padding:0;
  color: #933;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  font-size: 95%;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, sans-serif;
  text-align:left;
}

.page_width {
  max-width:850px;
}

a {
  text-decoration:none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  color: #F93;
}

h2 {
  text-align: center;
  font-size: 130%;
}

img {
  border-width: 0px;
}




/* HEADER */

#macok_logo{
  
}
#header {
  text-align:center;
  margin:0 auto;
}
#header h2 a{
  color:black;
  text-decoration: none;
}




/* SECTIONS */

#sections_wrapper {
/*  background: url('../images/top_shadow.gif') repeat-x bottom;*/
}

#sections {
  margin: 0 auto;
  margin-bottom: 1em;
  clear:both;
  overflow:visible;
  text-align:center;
  padding:0;
  padding-top:26px;
  border-bottom:solid 5px #400;
}

#sections a img{
  padding:0;
  margin:0;
  border:none;
}

#sections a img {
  width:64px;
}

#sections a{
  text-decoration: none;
  display: block;
  overflow:visible;
  float:left;
  text-align:center;
  font-size: 20px;
  color:#C33;
  font-weight: bold;
  padding:0.6em 1em;
  margin:0 20px;
}

#sections a.active, #sections a:hover {
  color:#D33;
  text-decoration:none;
  background-color:#400;
}

ul.with_image{
  padding-right:350px;
  display:block;
}




/* INNER SECTIONS */

#inner_sections {
  margin: 0 auto;
  width:400px;
  text-align:center;
  padding-top:0.5em;
}

#inner_sections a{
  display: block;
  width:76px;
  float:left;
  height:90px;
  text-align:center;
  font-size: 80%;
  color:#D33;
  font-weight: bold;
  padding:2px;
  margin:0 10px;
}

#inner_sections a:hover{
  color:#C33;
}

#inner_sections a span{
  display:block;
}




/* CONTAINER */

#container{
  clear:both;
  margin:0 auto;
}

#content { }

#content a {
  color:#F90;
  font-weight: bold;
  text-decoration: none;
}

#content a:hover{
  background-color: #D33;
  color:white;
}

.phone_number {
  font-weight:bold;
}




/* FOOTER */

#footer{
  color:#555;
  border-top:1px solid #444;
  font-size:small;
  text-align:center;
  margin-top: 3em;
}

#footer a {
  color:#777;
  border-width:0px;
  font-weight:normal;
  background-color: transparent;
}

#footer a:hover {
  color:white;
  text-decoration: none;
  border-width:0px;
  background-color:transparent;
}

#footer .author a, #footer .author a:hover {
  color:#444;
  background-color:transparent;
  text-decoration: none;
}




/* LOCALES */

.locales {
  padding:1em;
  color:#444;
  color:#ccc;
}

.locales img {
  opacity:0.5;
}

.locales a.active img, #content .locales a.active img {
  vertical-align:top;
  opacity:1;
}

.locales a.active, #content .locales a.active{
  background: white url('../images/flags/shadow.gif') no-repeat scroll bottom center;
}

#top_locales {
  position:absolute;
  top: 0;
  right:0;
}

#bottom_locales {
  padding:0;
}

#bottom_locales a.active img{
  background-color:transparent !important;
}
