#footer
  #{link_to 'AldoMaietti.com', root_url} — #{mail_to 'info@aldomaietti.com'}
  
  %br
  
  Via Palmi, 20 – 20152 — Milano — Telefono/Fax 02 48 911 203
  
  .author
    = link_to 'Eliæ Societas Design', "http://elia.github.com/", |
              :title => "Design and Programming: Elia Schito"    |
      
