#title
  - link_to root_path do
    %h1= image_tag('logo.png', :alt => 'Aldo Maietti')
    .subtitle
      %blockquote
        .marquee
          .quote=t '.slogan'
          .author TV Sorrisi e Canzoni

= render 'locales'
#navigation
  %ul
    %li.first{:class => current_page?(downloads_path(locale)) ? 'active' : ''}
      - link_to downloads_path(locale) do
        %h3=t           '.navigation.downloads.title'
        .description=t  '.navigation.downloads.description'
    %li{:class => current_page?(pictures_path(locale)) ? 'active' : ''}
      - link_to pictures_path(locale) do
        %h3=t           '.navigation.pictures.title'
        .description=t  '.navigation.pictures.description'
    %li{:class => current_page?(life_path(locale)) ? 'active' : ''}
      - link_to life_path(locale) do
        %h3=t           '.navigation.life.title'
        .description=t  '.navigation.life.description'
    %li.last{:class => current_page?(contacts_path(locale)) ? 'active' : ''}
      - link_to contacts_path(locale) do
        %h3=t           '.navigation.contacts.title'
        .description=t  '.navigation.contacts.description'
  .clear

:javascript
  $$('blockquote').first().setStyle("overflow:hidden");
  // var marquee_width = 750;
  
  new Marquee({
    element: $$('blockquote').first(),
    animIn: Marquee.slideIn,
    animOut: Marquee.slideOut
  });
  
  // var marquee = $$('blockquote .marquee').first();
  // new Effect.Move(marquee, {x:  marquee_width, y: 0, mode: 'relative', queue: {scope: 'marquee', position: 'end', limit: 0}, duration: 0});
  // var marquee_position = 'right'
  // 
  // new PeriodicalExecuter(function(e){
  //   var marquee = $$('blockquote .marquee').first();
  //   var timeout = 8;
  //   
  //   window.setTimeout(function() {
  //   }, timeout*1000);
  //   
  //   if (marquee_position == 'right') {
  //     new Effect.Move(marquee, {x: -marquee_width,   y: 0, mode: 'relative', queue: {scope: 'marquee', position: 'end', limit: 0}, duration: 8});  
  //     marquee_position = 'center';
  //   } else if (marquee_position == 'center') {
  //     new Effect.Move(marquee, {x: -marquee_width,   y: 0, mode: 'relative', queue: {scope: 'marquee', position: 'end', limit: 0}, duration: 8});  
  //     marquee_position = 'left';
  //   } else if (marquee_position == 'left') {
  //     new Effect.Move(marquee, {x:  marquee_width*2, y: 0, mode: 'relative', queue: {scope: 'marquee', position: 'end', limit: 0}, duration: 0});
  //     marquee_position = 'right';
  //   }
  // }, 1);