<%= image_tag 'orchestra_part.png', :style => "float:left;margin-right:1em" %>
<div id="quotes">
  <blockquote>&laquo;Il re Italiano del Tango&raquo;</blockquote>
  <p class="author">TV Sorrisi e Canzoni</p>
  <blockquote>&laquo;È [stato] il solo in Italia a dedicarsi ininterrottamente e unicamente a questo intramontabile ballo&raquo;</blockquote>
  <p class="author">Ernesto Rondò</p>
  <blockquote>&laquo;El gaucho milanese&raquo;</blockquote>
  <!-- <p class="author">Ernesto Rondò</p> -->
</div>
<div style="clear:both;"></div>

