.content

  %h2=t '.title'
  
  %h3=t '.email'
  %p= mail_to 'info@aldomaietti.com'
    
  %h3=t '.phone_fax' 
  %p 02 48 911 203
    
  %h3=t '.address'
  %p= link_to_if false, 'Via Palmi, 20 – 20152 — Milano', '', :target => '_blank',  :title => t('contacts.open_map')

