- content_for :title, t('.title')

/ = render 'header'

#cover_photo
  .photo= image_tag("orchestra.jpg", :size => '850x405', :class => :placeholder)
  .description
    :markdown
      #{t '.description'}
  .clear

.alfredo_maietti
  .photo= image_tag 'alfredo_maietti.jpg'
  .says
    %p=t '.alfredo_says.line1'
    %p=t '.alfredo_says.line2'
  
  .signature Alfredo Maietti
  .clear