




= image_tag 'orchestra_part.png', :style => "float:left;margin-right:1em"

#quotes
  %blockquote
    \&laquo;Il re Italiano del Tango&raquo;
  %p.author
    TV Sorrisi e Canzoni
  %blockquote
    \&laquo;È [stato] il solo in Italia a dedicarsi ininterrottamente e unicamente a questo intramontabile ballo&raquo;
  %p.author
    Ernesto Rondò
  %blockquote
    \&laquo;El gaucho milanese&raquo;
  /
    <p class="author">Ernesto Rondò</p>

.clear


#bio
  %h3
    Aldo Maietti ~ Bio
  %p
    Fece tournées a Buenos Ayres e a Parigi divenendo amico dei più illustri "tanghisti" dell'epoca, dal leggendario Eduardo Bianco a Francisco Canaro, da Osvaldo Fresedo al grande Astor Piazzolla e al famoso cantante dei capelli impomatati con la voce assassina:
    %em
      Ernesto Rondò
    \. Rondò volle incidere dischi con lui ed anche illustri solisti di Tango Argentino si sentirono onorati di suonare nell'orchestra di questo simpatico "gaucho milanese" che aveva assimilato alla perfezione il loro "vero stile".


= render 'sheets'
