.content
  .tip=t '.buttafava.heading'
  
  .quote
    %h2=t '.buttafava.title'
    
    = image_tag 'quadro_aldo.jpg'
    
    :markdown
      #{t '.buttafava.article'}
    
    .author Roberto Buttafava

